<main class="w-screen h-screen overflow-y-auto pl-6 pr-3 pt-2">
    <div class="main_container !px-0 !w-full">
        <div class="header">
           <app-header [headerInfo]="headerInfo"></app-header>
        </div>

        <section class="main_body">
            <article>
                <div>
                    <ul>
                        <li class="inactive_state"><a>Company Information</a></li>
                        <li class=""> <a >Owner’s Information</a>
                            </li>
                        <li class="inactive_state"> <a >Business Documentation</a>
                            </li>
                        <li class="inactive_state"> <a >Review & Submit</a> </li>
                    </ul>
                </div>
            </article>
            <div></div>
        </section>
    </div>

</main>