<main class="w-screen h-screen overflow-hidden pl-10 pr-3 pt-2">
    <div class="main_container !px-0 !w-full">
        <div class="header">
           <app-header [headerInfo]="headerInfo"></app-header>
        </div>

        <section class="main_body">
            <article class="side_piece">
                <div>
                    <ul>
                        <li class="inactive_state"><a>Company Information</a></li>
                        <li class=""> <a >Owner’s Information</a>
                            </li>
                        <li class="inactive_state"> <a >Business Documentation</a>
                            </li>
                        <li class="inactive_state"> <a >Review & Submit</a> </li>
                    </ul>
                </div>
            </article>
            <div class="main_content">
                <div class="main_content__child firstPage !hidden">
                    <div class="salutation">
                        <h2>Hi John, 👋🏽 tell us about your company</h2>
                        <small>Kindly tell us about your business.</small>
                    </div>

                    <div class="company_information_gathering">
                        <div class="wallet_type">
                            What type of company wallet?
                        </div>
                        <div class="company_type">
                            <div class="a_company_type">
                                NGO
                            </div>
                            <div class="a_company_type">
                                Limited Liability
                            </div>
                            <div class="a_company_type">
                                Sole Proprietorship
                            </div>
                            <div class="a_company_type selected">
                                Partnership
                            </div>
                        </div>

                        <div class="enter_company_information">
                            <div class="registered_name">
                                Registered business name
                            </div>
                            <p>
                                This must be the name on your registered documents, You will not be able to change this later. 
                            </p>
    
                            <div class="form-group">
                                <input type="text" placeholder="Enter the name of your company" autofocus class="form-control">
                            </div>
                        </div>
                        <div class="enter_company_information">
                            <div class="registered_name">
                                Tell us about the industry you work
                            </div>
                            <p>
                                Choose the indsutry closest to the one in which your company operates. 
                            </p>
    
                            <div class="form-group">
                                <select type="text"  
                                  class="form-control !bg-transparent">
                                    <option value="" selected>Select Industry</option>
                                    <option value="">Fashion and Beauty</option>
                                    <option value="">Automobile </option>
                                    <option value="">IT and Communication</option>
                                    <option value="">Fintech</option>
                                    <option value="">Import and Export</option>
                                    <option value="">Logistics</option>
                                </select>
                            </div>
                        </div>

                        <div class="enter_company_information">
                            <div class="registered_name">
                                About your business
                            </div>
                            <p>
                                Tell us  about your business, product and/ services you offer in few sentences. 
                            </p>
    
                            <div class="form-group">
                                <textarea name="" class="" id="" placeholder="Enter some text" cols="30" rows="5"></textarea>
                            </div>

                            <div class="form-group">
                                <select type="text" placeholder="" 
                                  class="form-control !bg-transparent">
                                    <option value="">Select Business Type</option>
                                    <option value="">100 - 500</option>
                                    <option value="">500 - 1,000,000,000</option>
                                    <option value="">1,000,000-5,000,000</option>
                                    <option value="">5,000,000-10,000,000</option>
                                    <option value="">10,000,000-15,000,000</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Years of Operation" autofocus class="form-control">
                            </div>
                            
                        </div>

                        
                        <div class="enter_company_information">
                            <div class="registered_name">
                                Verify your business location
                            </div>
                            <p>
                                Provide your business address and attach utility bill associated
                                to the address.
                            </p>

                            <div class="form-group">
                                <input type="text" placeholder="Address" autofocus class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="City" autofocus class="form-control">
                            </div>

                            <div class="form-group mt-2 flex gap-2">
                                <select type="text"  
                                class="form-control !bg-transparent">
                                  <option value="" selected>Select State</option>
                                  <option value="">Fashion and Beauty</option>
                                  <option value="">Automobile </option>
                                  <option value="">IT and Communication</option>
                                  <option value="">Fintech</option>
                                  <option value="">Import and Export</option>
                                  <option value="">Logistics</option>
                              </select>

                              <select type="text"  
                              class="form-control !bg-transparent">
                                <option value="" selected>Select Country</option>
                                <option value="">Fashion and Beauty</option>
                                <option value="">Automobile </option>
                                <option value="">IT and Communication</option>
                                <option value="">Fintech</option>
                                <option value="">Import and Export</option>
                                <option value="">Logistics</option>
                            </select>
                            </div>
                            
                        </div>

                        <div class="enter_company_information">
                            <div class="registered_name">
                                Attach Utility Bill
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>

                        <div class="button_container">
                            <button >
                                Save & Continue
                            </button>
                        </div>
                    </div>
                </div>

                <div class="main_content__child secondPage !hidden">
                    <div class="salutation">
                        <h2>Send request to join wallet</h2>
                        <small>You won’t be able to submit your application until the business owner submits their information.</small>
                    </div>

                    <div class="add_more_info">
                        <a href="">
                            Add Business owner
                        </a>

                        <a href="">
                            Add Via Email
                        </a>
                    </div>

                    <div class="company_information_gathering">
                        <div class="wallet_type !font-extrabold" style="font-size: 1rem;">
                            Founder Information
                        </div>
                       

                        <div class="enter_company_information">
    
                            <div class="form-group flex gap-5">
                                <input type="text" placeholder="Legal First Name" autofocus class="form-control">
                                <input type="text" placeholder="Legal Last Name" class="form-control">
                            </div>

                            <div class="form-group !my-6">
                                <input type="text" placeholder="Email Address" class="form-control">   
                            </div>

                            <div class="form-group !my-6 w-full relative">
                                <input type="text" placeholder="+2348901020304" class="pl-[7.5rem] form-control !bg-transparent"> 
                                <div class="absolute w-28 inset-0 left-4  rounded-bl-[3px] rounded-tl-[3px]">
                                    <select class="w-full !bg-transparent !rounded-none" name="" id="" >
                                        <option value="" selected> Senegal	 </option>
                                    </select>
                                </div>  
                            </div>

                            <div class="form-group">
                                <select type="text"  
                                  class="form-control !bg-transparent">
                                    <option value="" selected>Select Nationality</option>
                                    <option value="">Fashion and Beauty</option>
                                    <option value="">Automobile </option>
                                    <option value="">IT and Communication</option>
                                    <option value="">Fintech</option>
                                    <option value="">Import and Export</option>
                                    <option value="">Logistics</option>
                                </select>
                            </div>

                            <div class="form-group !my-6">
                                <input type="text" placeholder="Bank Verification Number (optional)" class="form-control">   
                            </div>
                        </div>
                        <div class="enter_company_information">
                            <div class="registered_name !font-extrabold" style="font-size: 1rem;">
                                Assigned Role(s)
                            </div>
                            <p>
                                Tell us  about your business, product and/ services you offer in few sentences. 
                            </p>

                            <div class="form-group !my-5 flex gap-3">
                               <div class="flex gap-2 items-center">
                                <label for="director" class="order-last">Director</label>
                                 <input type="radio" class="!w-5 !h-5 !rounded-full" id="director">
                               </div>

                               <div class="flex gap-2 items-center">
                                <label for="Shareholder" class="order-last">Shareholder</label>
                                 <input type="radio" class="!w-5 !h-5 !rounded-full" id="Shareholder">
                               </div>
                            </div>
    
                            <div class="form-group !my-5">
                                <input type="text" placeholder="Residential Address" class="form-control">
                            </div>

                            <div class="form-group !my-5">
                                <select type="text" placeholder="" 
                                  class="form-control !bg-transparent">
                                    <option value="">Country..</option>
                                    <option value="">Nigeria</option>
                                    <option value="">China</option>
                                   
                                </select>
                            </div>
                            

                            
                            <div class="form-group !my-3 flex gap-5">
                                <select type="text"  
                                class="form-control !bg-transparent">
                                  <option value="" selected>Select State</option>
                                  <option value="">Fashion and Beauty</option>
                                  <option value="">Automobile </option>
                                  <option value="">IT and Communication</option>
                                  <option value="">Fintech</option>
                                  <option value="">Import and Export</option>
                                  <option value="">Logistics</option>
                              </select>

                              <select type="text"  
                              class="form-control !bg-transparent">
                                <option value="" selected>Select City</option>
                                <option value="">Fashion and Beauty</option>
                                <option value="">Automobile </option>
                                <option value="">IT and Communication</option>
                                <option value="">Fintech</option>
                                <option value="">Import and Export</option>
                                <option value="">Logistics</option>
                            </select>
                            </div>
                        </div>

                        <div class="enter_company_information !border-b-0">
                            <div class="registered_name !font-extrabold" style="font-size: 1rem;">
                                Identification
                            </div>
                            <p>
                                Provide your business address and attach utility bill associated to the address. 
                            </p>
                            
                            <div class="form-group !my-5 flex gap-5">
                                <select type="text"  
                                class="form-control !bg-transparent">
                                  <option value="" selected>Select ID</option>
                                  <option value="">Fashion and Beauty</option>
                                  <option value="">Automobile </option>
                                  <option value="">IT and Communication</option>
                                  <option value="">Fintech</option>
                                  <option value="">Import and Export</option>
                                  <option value="">Logistics</option>
                              </select>

                              <input type="text" placeholder="ID Number"  class="form-control">
                            </div>  
                        </div>

                        <div class="enter_company_information">
                            <div class="registered_name">
                                Attach Identification Photo
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>

                        <div class="enter_company_information !border-b-0">
                            <div class="registered_name !font-extrabold" style="font-size: 1rem;">
                                Political Association
                            </div>
                            <p>
                                Have you or anyone you know ever held a political office in any country.
                            </p>

                            <div class="form-group !my-5 flex gap-3">
                               <div class="flex gap-2 items-center">
                                <label for="Yes" class="order-last">Yes</label>
                                 <input type="radio" class="!w-5 !h-5 !rounded-full" id="Yes">
                               </div>

                               <div class="flex gap-2 items-center">
                                <label for="No" class="order-last">No</label>
                                 <input type="radio" class="!w-5 !h-5 !rounded-full" id="No">
                               </div>
                            </div>
                
                        </div>


                        <div class="button_container pb-7">
                            <button  class="cancel">
                                Cancel
                            </button>
                            <button >
                                Save Owner
                            </button>
                        </div>
                    </div>
                </div>

                <div class="main_content__child thirdPage ">
                    <div class="salutation">
                        <h2>Provide your business documents</h2>
                        <small>You won’t be able to submit your application until the business owner submits their information.</small>
                    </div>

                    <div class="company_information_gathering">
                        <div class="wallet_type !font-extrabold">
                            Documents
                        </div>
                       

                        <div class="enter_company_information !border-0">
    
                            <div class="form-group !my-5">
                                <input type="text" placeholder="RC Number" autofocus class="form-control">
                                
                            </div>

                            <div class="form-group !my-5">
                                <input type="text" placeholder="Tax Identification Number" class="form-control">   
                            </div>

                            <div class="form-group !my-5">
                                <select type="text"  
                                  class="form-control !bg-transparent">
                                    <option value="" selected>Select Utility Bill</option>
                                    <option value="">Fashion and Beauty</option>
                                    <option value="">Automobile </option>
                                    <option value="">IT and Communication</option>
                                    <option value="">Fintech</option>
                                    <option value="">Import and Export</option>
                                    <option value="">Logistics</option>
                                </select>
                            </div>  
                        </div>
                        
                        
                        <div class="enter_company_information !border-0">
                            <div class="registered_name">
                                Utility Bill (Valid within 3 months)
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>

                        

                        <div class="enter_company_information !border-0">
                            <div class="registered_name">
                                CAC Document
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>

                        <div class="enter_company_information !border-0">
                            <div class="registered_name">
                                Form CAC 2A
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>


                        <div class="enter_company_information !border-0">
                            <div class="registered_name">
                                Form CAC 7A
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>

                        <div class="enter_company_information !border-0">
                            <div class="registered_name">
                                Mermat (Memorandum and article of association)
                            </div>
                            <div class="pl-2 relative border border-[#1C375A29] border-dashed py-2 ml-4 rounded-[3px] flex">
                                <label class="upload_trigger" for="upload">Upload Files...</label>
                                <input type="file" id="upload" placeholder="" class="form-control !w-auto !bg-transparent">
                                <span class="secondary_text w-40"><img class="max-w-[75%]" src="../../../assets/images/upload_icon.svg" alt="">  Drop Files here</span>
                            </div>
                        </div>
                        
                        <div class="button_container pb-7">
                           
                            <button >
                                Save & Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            
        </section>

        <!-- <div class="h-40 mt-20"></div> -->
    </div>

</main>