

<section class="authoriz_a_transaction ">
    <div class="my-1 flex flex-col justify-end">
        <div class="w-full  flex justify-between">
            <div class="text-wa-active-text flex-auto flex justify-center items-center ">
                <span class="title pt-1"> Transaction PIN</span>
            </div> 
            <span class=" material_closeBtn">+</span>
        </div>

        <div class="px-6 mt-10 my-6">
            <label for="PIN" class="text-wa-active-text mb-1 text-sm">Please enter your PIN</label>
            <input type="text" placeholder="Transaction PIN" name="PIN" 
             id="PIN" autocomplete="family-name" 
            class="mt-1 h-14 bg-white focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-[3px]">
          </div>

          <div class="mt-5 mx-[1.25rem]">
              <button (click)="showTransferSuccessful()" class="w-full bg-wa-generalGreen cursor-pointer py-2 text-wa-active-text rounded-sm text-sm">
                  Authorize Transaction
              </button>
          </div>
    </div>
</section>