<div class=" w-screen h-screen max-w-full max-h-full overflow-hidden">
    <div class="h-full w-full bg-wa-bg-general flex relative">
        <div class="sideBar_container">
            <!-- side bar here -->
            <app-sidebar></app-sidebar>
        </div>

        <div class="mobileMenuSideBar">
            <!-- side bar here -->
            <app-sidebar></app-sidebar>
        </div>
        <div class="main_container">
            <!-- main here -->
            <div class="header">
               <app-header [headerInfo]="headerInfo"></app-header>
            </div>

            <section class="routed_components border border-transparent">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>

</div>
