<div class=" w-screen h-screen max-w-full max-h-full bg-slate-800">
    <div class="h-full w-full bg-wa-bg-general border-4 border-slate-700 flex">
        <div class="sideBar_container">
            <!-- side bar here -->
            <app-sidebar></app-sidebar>
        </div>
        <div class="main_container">
            <!-- main here -->
            <div class="header">
               <app-header></app-header>
            </div>

            <section class="routed_components ">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>

</div>
