<section class="create_card">
    <h5 class="">
        Create New Card <span mat-dialog-close class="btn"><img src="../../../assets/images/close_icon.svg" alt=""></span>
    </h5>
    <form class="mb-3">
        <div class="mb-2">
            <label for="card_name" >Card Name( Your Name on your BVN)</label>
            <input type="text" id="card_name" class="" placeholder="Okechukwu Micheal" required="">
        </div>
        <div class="mb-2">
            <label for="currency" >Select Currency</label>
            <select name="" id="currency">
                <option value="" selected> Choose currency</option>
            </select>
        </div>
        <div class="mb-2">
            <label for="phone_number" >Phone Number</label>
            <input type="text" id="phone_number" required="">
    </div>

    <div class="mb-2">
        <label for="alternate_phone_number" >Alternate Phone Number</label>
        <input type="text" id="alternate_phone_number" required="">
    </div>
    
    <div class="mb-2">
        <label for="street_address" >Street Address</label>
        <input type="text" id="street_address" required="">
    </div>

    <div class="mb-2">
        <label for="state" >State</label>
        <select name="" id="state">
            <option value="" selected> Choose currency</option>
        </select>
    </div>
    <div class="mb-4">
        <label for="LGA" >Select LGA</label>
        <select name="" id="LGA">
            <option value="" selected> Choose LGA</option>
        </select>
    </div>
        <div class="w-full text-center">
            <button type="button" class="reusable_button">Order Card</button>
        </div>
    </form>

    <p class="w-full text-center break-words font-semibold">
        You will be charged N3,000 for a card and you will be required to cover delivery fees.
    </p>
    
</section>