<div class="header_contents ">
    <div class="salutation ">
        Good afternoon, Oke
    </div>

    <div class="notifications_and_dropDown ">
        <span class="notification_bell"><img src="../../../assets/images/Notifications_bell.svg" alt=""></span>

        <span class="profile_pic"><img src="../../../assets/images/profile_pic.png" alt=""></span>

        <span class=" name_details">Oke Obi-Enadhuze <span class="chevron_down ml-3"><img src="../../../assets/images/ic24-chevron-down.svg" alt=""></span></span>
    </div>
</div>