

<div class="save_container">
    <button class="reusable_button">Save</button>
</div>
<div class="general_settings">
    <h5 class="heading">
        General Settings
    </h5>

    <div class="profile_picture_container">
        <div class="profile_picture">
            <span>
                <img src="../../../../assets/images/profile_photo_big.png" alt="">
            </span>
            <p class="flex flex-col">
                <span>Change Profile Picture</span>
                <span>Picture should not be more than 5MB</span>
            </p>
        </div>
        <div class="upload_button">
            <button class="reusable_button upload">Upload</button>
        </div>
    </div>


    <div class="settings_form w-full h-auto my-4">
        <div class="form-group w-full">
            <input placeholder="Full Name" type="text" class="form-control">
        </div>
        <div class="form-group w-full reset">
            <input placeholder="Email Address" type="text" class="form-control ">
        </div>
        <div class="form-group w-full relative">
            <input placeholder="Phone Number" type="email" class="form-control">
            <span class="absolute top-[28%] right-3">
                <img src="../../../../assets/images/copy_icon.svg" alt="">
            </span>
        </div>
        <div class="form-group w-full">
            <!-- <input type="text" placeholder="BVN" class="form-control "> -->
            <select class="form-control" name="" id="">
                <option value="" selected>Choose City</option>
            </select>
        </div>
        <div class="form-group w-full">
            <input placeholder="BVN" type="text" class="form-control ">
        </div>

        <div class="form-group w-full">
            <input placeholder="Daily Limit" type="text" class="form-control ">
        </div>

        <div class="form-group w-full">
            <input placeholder="Address" type="text" class="form-control ">
        </div>
        <div class="form-group w-full relative">
            <input placeholder="Referral Code" type="text" class="form-control ">
            <span class="absolute top-[28%] right-3">
                <img src="../../../../assets/images/copy_icon.svg" alt="">
            </span>
        </div>   

    </div>

    <div >
        <h5 class="heading">
            Change Pasword
        </h5>
        <div class="change_password">
            <div class="form-group w-full">
                <input placeholder="Daily Limit" type="text" class="form-control ">
            </div>
            <div class="form-group w-full">
                <input placeholder="Address" type="text" class="form-control ">
            </div>
            <div class="form-group w-full">
                <input placeholder="Referral Code" type="text" class="form-control "> 
            </div>  
            <div class="w-full">
                <button class="reusable_button upload">Change</button>
            </div>
        </div>

    </div>


    <div class="pt-3">
        <h5 class="heading !mb-1">
            Notifications
        </h5>
        <small class="sub_heading ">
            Get new notification for transactions, emails and SMS
        </small>

        <div class="notifications_form mt-4">
            <div class="form-group w-full">
                <select name="" id="" class="form-control w-full">
                    <option value="" selected>Push Notifications</option>
                </select>
            </div>
            <div class="form-group w-full reset">
                <select name="" id="" class="form-control w-full">
                    <option value="" selected>Email Notifications</option>
                </select>
            </div>
            <div class="form-group w-full relative">
                <select name="" id="" class="form-control w-full">
                    <option value="" selected>SMS Notifications</option>
                </select>
            </div>
        </div>
    </div>
    
</div>



<!-- this is just a dirty way to give some margin at the bottom -->
<div class="w-full h-[5rem] "></div>
