<div class="w-full">
    <div class=" img_container">
        <img src="../../../assets/images/transfer_successful.svg" alt="">
        <span class="">Transfer Successful</span>
    </div>
</div>

<section class="remaining_contents">
        <div class="essential_info">
            	<div class="essential_info_child">
                    <span>Amount</span>
                    <span>₦91.81</span>
                </div>
                <div class="essential_info_child">
                    <span>Name</span>
                    <span>Tobi Onasanya</span>
                </div>
                <div class="essential_info_child">
                    <span>Wallets Number</span>
                    <span>09082981195</span>
                </div>
                <div class="essential_info_child">
                    <span>Reference Number</span>
                    <span>245676732726739</span>
                </div>
        </div>

        <div class="button_container">
            <button class="reusable_button outlined">
                Send Money Again
            </button>
            <button class="reusable_button">
                Go To Dashboard
            </button>
        </div>
</section>