<div class="verification_incomplete ">
    <div class="text_half">
        <p> 
            <span> <img src="../../../assets/images/celebrations.svg" alt="">
            </span> 
        </p>
        <div>
            <p class="thank_you">Thank you for joining Wallets</p>
            <p > If you could see our face right now, you would see gratitude.</p>
            <p>We sent a verification link to  <a href="javascript:void(0)"> okejohn@gmail.com</a>. Please click the link and verify your account.</p>
        </div>
    </div>
    <div class="black_box">
        <div class="black_box__contents">
            <p ><img src="../../../assets/images/Sending-mail.svg" alt=""> Didn't receive a link?</p>
            <p> <a href="javascript:void(0)"> Resend Verification</a></p>
        </div>
    </div>
</div>

<div class="wallet_Balance">
    <div class="wallet_Balance__contents">
        <div>
            <div class="wallet_balance_figures">
                <p class="mb-4"><img class="" src="../../../assets/images/Wallet.svg" alt="">Wallet Balance</p>
                <p >₦0.00</p>
            </div>
            <div class="fund_wallet_container">
                <button class="fund_wallet_container__button">
                    Fund Wallet
                </button>
            </div>
        </div>
        <div class="mini_transactions__display ">
            <div class="second_box__container ">
                <div  class="form-group ">
                   <select  name="" id="" class="">
                      <option  value="" selected="">This week</option>
                   </select>
                </div>
                <div class="">
                    <p class=" flex flex-col">
                        <span class="">Transactions</span>
                        <span class="text-2xl font-semibold text-wa-active-text">0</span>
                    </p>
                    <p class="flex flex-col">
                        <span class=" ">Outflow</span>
                        <span class="text-2xl font-semibold text-wa-active-text">₦0.00</span>

                    </p>
                    <p class="flex flex-col noPseudoClass"> 
                        <span class="">Inflow</span>
                        <span class="text-2xl font-semibold text-wa-active-text">₦0.00</span>
                    </p>
                </div>
             </div>
        </div>
    </div>
</div>

<div class="actions_section">
        <div class="actions_section__title">
            Actions
        </div>
        <div class="actions_section__gridparent">
            <div class="grid_child">
                <span><img src="../../../assets/images/Airtime-Icon.svg" alt=""></span>
                <p>Buy Airtime</p>
            </div>
            <div class="grid_child">
                <span><img src="../../../assets/images/Send-Icon.svg" alt=""></span>
                <p>Send Money</p>
            </div>
            <div class="grid_child label">
                <span><img src="../../../assets/images/Cart-Icon.svg" alt=""></span>
                <p>Savings</p>
                <span class="">New</span>
            </div>
            <div class="grid_child">
                <span><img src="../../../assets/images/Pay-bills.svg" alt=""></span>
                <p>Pay Bills</p>
            </div>
        </div>
</div>

<div class="recent_transactions">
    <div class="recent_transactions__contents ">

        <div class="recent_transactions__absent ">
            <h5 class="title ">
                Recent Transactions
            </h5>

           <div class="info w-full h-[14rem] flex justify-center items-center">
            <div class="h-auto w-1/2">
                <p class="w-full flex justify-center mb-6">
                 <img src="../../../assets/images/calendar.svg" alt="">
                </p>

                <p class="w-1/2 break-words self-end mx-auto text-center">
                    Your most recent transactions will show up here when you start transacting.
                </p>
            </div>
           </div>

           <div class="chat_float">
               <span><img src="../../../assets/images/Chat-Float.svg" alt=""></span>
           </div>

        </div>

    </div>
</div>

<!-- this is just a dirty way to give some margin at the bottom -->
<div class="w-full h-[5rem] "></div>
