<div class="verification_incomplete ">
    <div class="text_half">
        <p> <span> <img src="../../../assets/images/celebrations.svg" alt=""></span> Thank you for joining Wallets</p>
        <p> if you could see our face right now, you would see gratitude</p>
        <p>We sent a verification link to <a href="javascript:void(0)">okejohn@gmail.com</a>. Please click the link and verify your account.</p>
    </div>
    <div class="black_box">
        <div class="black_box__contents">
            <p><img src="../../../assets/images/Sending-mail.svg" alt=""> Didn't receive a link?</p>
            <p> <a href="javascript:void(0)"> Resend Verification</a></p>
        </div>
    </div>
</div>
