<div class="cards_overview relative">

    <div class="cards_display_contents major_part">
        <div class="card_figure_summary_actions">
            <div class="card_figures">
                <div class=" w-full justify-between items-center">
                    <div class="wallet_balance_figures">
                        <p class="mb-4"><img class="" src="../../../assets/images/Credit-card.svg" alt="">Card Balance</p>
                        <p >₦40,000,000.00</p>
                    </div>
                    <div class="fund_wallet_container">
                        <button class="fund_wallet_container__button">
                            Fund Card
                        </button>
                    </div>
                </div>
            </div>

            <div class="cards_actions">
                
                    <a routerLink="/dashboard/cards" class="child">
                        <span><img src="../../../assets/images/plus_btn.svg" alt=""></span>
                        <p>Create New Card</p>
                    </a>
                    <div (click)="openGeneralCardActions('withdraw')" class="child">
                        <span class="svg_with_bg"><img src="../../../assets/images/ATM.svg" alt=""></span>
                        <p>Withdraw</p>
                    </div>
                    <div (click)="openGeneralCardActions('block-card')" class="child">
                        <span class="svg_with_bg ">
                             <img src="../../../assets/images/block_card.svg" alt="">
                        </span>
                        <p>Block Card</p>
                    </div>
                    <div (click)="openGeneralCardActions('change-pin')"  class="child">
                        <span class="svg_with_bg ">  
                            <img src="../../../assets/images/chnage_pin.svg" alt="">
                        </span>
                        <p>Change Pin</p>
                    </div>
            
            </div>
        </div>

        <div class="card_transactions mt-10 mb-4">
            <div class="recent_transactions__contents">
        
                <div class="recent_transactions__absent">
                    <h5 class="title">
                        Transactions
                    </h5>
        
                   <div class="info w-full h-[14rem]">
                    <div class="flex flex-col">
                        <div class="overflow-x-auto">
                            <div class="inline-block min-w-full pl-3 pr-6">
                                <div class="overflow-hidden">
                                    <table class="min-w-full table-auto">
                                        <thead class="">
                                            <tr>
                                                <th scope="col" style="width: 35%;" class="py-3 pl-2 pr-6 text-xs font-medium tracking-wider text-left  uppercase">
                                                    DATE/TIME
                                                </th>
                                                <th scope="col" style="width: 20%;" class="py-3 pl-2 pr-6 text-xs font-medium tracking-wider text-left  uppercase">
                                                    AMOUNT
                                                </th>
                                                <th scope="col" class="py-3 pl-2 pr-6 text-xs font-medium tracking-wider text-left uppercase">
                                                    NARRATION
                                                </th>
                                                   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white border-b border-b-[#ececff]">
                                                <td style="width: 35%;" class="py-4 pl-2 pr-6 whitespace-nowrap">
                                                    Apple MacBook Pro 17"
                                                </td>
                                                <td style="width: 20%;" class="py-4 pl-2 pr-6 whitespace-nowrap">
                                                    N2,500.00
                                                </td>
                                                <td class="py-4 pl-2 pr-6 whitespace-nowrap">
                                                    Laptop
                                                </td>  
                                            </tr>  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                   </div>
                </div>
        
            </div>   
        </div>

        <div class="mt-5 h-10 py-5"></div>
    </div>

    <div class="cards_display_contents side_part">
        <div class="card_details">
            <h5>Card Details</h5>

            <div class="card_information">
                <h6 class="py-2">Card Name</h6>
                <div class="w-full flex justify-between">Sandra Smith  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Card Number</h6>
                <div class="w-full flex justify-between">4056 5647 7804 5439  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Expiry Date</h6>
                <div class="w-full flex justify-between">05/23 </div>
            </div>

            <div class="card_information">
                <h6 class="py-2">CVV</h6>
                <div class="w-full flex justify-between">944  </div>
            </div>
            <div class="card_information">
                <h6 class="py-2">Billing Address</h6>
                <div class="w-full flex justify-between">4325 Todd St, FREMONT, CARLIFORNIA  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Zip Code</h6>
                <div class="w-full flex justify-between">99766 </div>
            </div>

            <div class="w-full py-5 bg-[#F9F9FF] px-4 freezeCard">
                <div class="w-full flex justify-between">Freeze Card  <div class="flex justify-center">
                    <div class="flex items-center justify-center w-full">
  
                        <label for="toggleB" class="flex items-center cursor-pointer">
                          <!-- toggle -->
                          <div class="relative">
                            <!-- input -->
                            <input type="checkbox" id="toggleB" class="sr-only">
                            <!-- line -->
                            <div class="block bg-wa-muted-text w-14 h-8 rounded-full"></div>
                            <!-- dot -->
                            <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                          </div>
                          <!-- label -->
                        
                        </label>
                      
                      </div>
                
                </div>
            </div>
        </div>

        
        </div>
    </div>

    <div class="cards_display_contents mobile_view">
        <div class="card_details">
            <h5>Card Details</h5>

            <div class="card_information">
                <h6 class="py-2">Card Name</h6>
                <div class="w-full flex justify-between">Sandra Smith  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Card Number</h6>
                <div class="w-full flex justify-between">4056 5647 7804 5439  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Expiry Date</h6>
                <div class="w-full flex justify-between">05/23 </div>
            </div>

            <div class="card_information">
                <h6 class="py-2">CVV</h6>
                <div class="w-full flex justify-between">944  </div>
            </div>
            <div class="card_information">
                <h6 class="py-2">Billing Address</h6>
                <div class="w-full flex justify-between">4325 Todd St, FREMONT, CARLIFORNIA  <span class="">Copy</span></div>
            </div>

            <div class="card_information">
                <h6 class="py-2">Zip Code</h6>
                <div class="w-full flex justify-between">99766 </div>
            </div>

            <div class="w-full py-5 bg-[#F9F9FF] px-4 freezeCard">
                <div class="w-full flex justify-between">Freeze Card  <div class="flex justify-center">
                    <div class="flex items-center justify-center w-full">
  
                        <label for="toggleB" class="flex items-center cursor-pointer">
                          <!-- toggle -->
                          <div class="relative">
                            <!-- input -->
                            <input type="checkbox" id="toggleB" class="sr-only">
                            <!-- line -->
                            <div class="block bg-wa-muted-text w-14 h-8 rounded-full"></div>
                            <!-- dot -->
                            <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                          </div>
                          <!-- label -->
                        
                        </label>
                      
                      </div>
                
                </div>
            </div>
        </div>

        
        </div>


        <div class="toggle_control">
            <img class="" src="../../../assets/images/card_details.svg" alt="">
        </div>
      
    </div>

    
</div>
<div class="my-10">

</div>