




<div class=" sign_in">
    <div class="header">
        <div class="wallet_icon flex-auto px-4">
            <img src="../../../assets/images/wallets_africa_1.svg" alt="">
        </div>

     
    </div>
    <div class=" body">
        <div class="w-full sm:w-4/5 md:w-4/5 xl:w-2/5 h-4/6 ">
            <div class=" title">
                <p class="signup login_title">Sign in to your account</p>
                <span class="w-full sm:w-7/12 break-words text-center login_desc"> For existing wallet customers, you can use your wallet sign in details to access your krypto account </span>
            </div>

            <div class="forms w-11/12 h-auto sm:h-5/6 md:h-4/6 lg:h-4/6 xl:h-5/6 mx-auto px-5 pt-4 border border-white rounded-md bg-white">
                <form [formGroup]="loginForm" class="forms_content signup w-full h-4/6">
                    <div class="form-group w-full">
                        <input 
                        formControlName="Email"
                         placeholder="Phone Number or Email Address" type="text" class="form-control mb-1">
                        <!-- <span class="mx-2 bg-[#EEFDF4] rounded-md inline-flex items-center justify-around px-1"> <img src="../../../assets/images/checkmark.svg" alt=""> <small class="capitalize ml-1  text-wallet-generalGreen">uppercase letter</small></span>
                        <span class="mx-2 bg-[#EEFDF4] rounded-md inline-flex items-center justify-around px-1"> <img src="../../../assets/images/checkmark.svg" alt=""> <small class="capitalize ml-1  text-wallet-generalGreen">lowercase letter</small></span>
                        <span class=" px-2 inline-block rounded-md">  <small class="capitalize px-3  bg-[#f5f5ff] text-wallet-mutedText">number</small></span>
                        <span class=" px-2 inline-block rounded-md">  <small class="capitalize px-3  bg-[#f5f5ff] text-wallet-mutedText">special characters</small></span> -->
                    </div>
                    <div class="form-group w-full">
                        <input formControlName="Password" placeholder="Password" type="password" class="form-control">
                    </div>

                    <div class="form-group w-full">
                        <input formControlName="Otp" placeholder="Otp" type="password" class="form-control">
                    </div>
                </form>

                <div class="w-full submitBtn mt-3 sm:mt-10 flex justify-end items-center pb-5 sm:pb-1 pr-3">
                    <button [disabled]="!loginForm.valid" type="button" (click)="loginUser()" class="reusable_button ml-0 capitalize">Sign In</button>
                </div> 
            </div>
        </div>
    </div>

</div>