




<div class=" sign_in">
    <div class="header">
        <div class="wallet_icon flex-auto px-4">
            <img src="../../../assets/images/wallets_africa_1.svg" alt="">
        </div>

     
    </div>
    <div class=" body">
        <div class="w-2/5 h-4/6 ">
            <div class=" title">
                <p class="signup login_title">Sign in to your account</p>
                <span class=" w-7/12 break-words text-center login_desc"> For existing wallet customers, you can use your wallet sign in details to access your krypto account </span>
            </div>

            <div class="forms w-11/12 h-5/6 mx-auto px-5 pt-4 border border-white rounded-md bg-white">
                <div class="forms_content signup w-full h-4/6">
                    <div class="form-group w-full">
                        <input placeholder="first name" type="text" class="form-control mb-1">
                        <!-- <span class="mx-2 bg-[#EEFDF4] rounded-md inline-flex items-center justify-around px-1"> <img src="../../../assets/images/checkmark.svg" alt=""> <small class="capitalize ml-1  text-wallet-generalGreen">uppercase letter</small></span>
                        <span class="mx-2 bg-[#EEFDF4] rounded-md inline-flex items-center justify-around px-1"> <img src="../../../assets/images/checkmark.svg" alt=""> <small class="capitalize ml-1  text-wallet-generalGreen">lowercase letter</small></span>
                        <span class=" px-2 inline-block rounded-md">  <small class="capitalize px-3  bg-[#f5f5ff] text-wallet-mutedText">number</small></span>
                        <span class=" px-2 inline-block rounded-md">  <small class="capitalize px-3  bg-[#f5f5ff] text-wallet-mutedText">special characters</small></span> -->
                    </div>
                    <div class="form-group w-full">
                        <input placeholder="last name" type="text" class="form-control">
                    </div>
                   
                </div>

                <div class="w-full submitBtn mt-10 flex justify-end items-center pr-3">
                    <button class="reusable_button ml-0 capitalize">Create my account</button>
                </div> 
            </div>
        </div>
    </div>

</div>