<section class="wallets">
    <div class="w-full h-full mt-4 ">
        <div class="tab_container">
            <div class="w-full rounded">
                <!-- Tabs -->
                <ul id="tabs" class="inline-flex w-full px-1 pt-2 ">
                  <li class="px-4 py-2 -mb-px w-full sm:w-auto font-semibold  text-center sm:text-start border-b-2 border-wa-purple-text-color rounded-t">
                      <a id="default-tab" class="selected" href="#first">Single Airtime</a>
                    </li>
                  <li class="px-4 py-2 font-semibold rounded-t w-full sm:w-auto text-center sm:text-start"><a href="#second">Bulk Airtime</a></li>
                </ul>

                <!-- Tab Contents -->
                <div id="tab-contents" class="h-auto">
                    
                        <section class="transfer_to_business w-full">
                            <div id="first" class="p-2 sm:p-4 w-full sm:w-1/2 h-full flex ">
                                <div class="transfer_form_container w-full pt-3 px-3 border border-wa-border-box-color rounded-[8px] mt-5">
                                    <div *ngIf="stage == 1" class="md:grid md:grid-cols-1 md:gap-2">
                                        <div class="md:col-span-1">
                                        <div class="px-2 sm:px-0">
                                            <h3 class="text-lg font-semibold px-4 pt-4 leading-6 text-wa-paragraph-text-color "> Airtime </h3>
                                        </div>
                                        </div>
                                        <div class=" md:mt-0 md:col-span-1">
                                        <form >
                                            <div class="">
                                            <div class="px-2 sm:px-4 py-5 bg-white sm:pt-2 sm:py-5">
                                                <div class="grid grid-cols-6 gap-7">
                                                <div class="col-span-6 ">
                                                    <input type="text" placeholder="Wallet Phone number" name="WalletPhone" id="WalletPhone" autocomplete="family-name" 
                                                    class="mt-1 h-14 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-[3px]">

                                                    <p class="w-full mt-3"><a href="javascript:void(0)" class="cursor-pointer underline text-wa-purple-text-color">Select a previous recipient </a></p>
                                                </div>
                                    
                                                <div class="col-span-6 ">
                                                    <input type="text" placeholder="Enter Amount" name="EnterAmount" id="amount" autocomplete="family-name" 
                                                        class="mt-1 h-14 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-[3px]">
                                                </div>
                                                
                                                    <div class="col-span-6">
                                                        <input type="text" placeholder="Narration (Optional)" name="Narration" id="Narration_wallets" autocomplete="family-name" 
                                                        class="mt-1 h-14 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-[3px]">
                                                    </div>

                                                </div>

                                                <div class="w-full py-3 mt-2">
                                                    <button type="button" 
                                                    (click)="authorizeTransaction()"
                                                    class="w-full inline-flex justify-center py-2 px-4 sm:px-36 border border-transparent shadow-sm text-lg font-semibold rounded-md text-wa-purple-text-color bg-wa-generalGreen hover:bg-wa-generalGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-wa-purple-text-color">
                                                    Send for free
                                                </button>
                                                    
                                                <p class="w-auto text-wa-purple-text-color text-sm font-semibold mt-4 text-center">
                                                    Available Balance ₦91.81
                                                </p>
                                                </div>
                                            </div>
                                            
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>  
                        </section>
                </div>

            </div>
        </div>
    </div>

</section>


