<div  class="personal_documents_upload">
    <div class="header">
        <app-header
         [headerInfo]="headerInfo"></app-header>
    </div>


    <div class="personal_documents_upload__contents">
        <div class="intro">
            <h2>Provide your Personal documents</h2>
            <span>You won't be able to submit your application until the personal documents have been submitted.</span>
        </div>

        <div class="important_details">
            <h5>Documents</h5>
            <div class="form_fields">
                <div class="form-group w-full">
                    <input placeholder="BVN" type="text" class="form-control">
                </div>
                <div class="form-group w-full">
                    <select name="" class="form-control" id="">
                        <option value="" selected>Select Utility Bill</option>
                        <option value="">NIN</option>
                        <option value="">Utility Bill</option>
                        <option value="">Voter's ID</option>
                        <option value="">Drivers Licence</option>
                    </select>
                </div>    
            </div>

            <div class="uploaders">
                <h3>Utility Bill ( Valid within 3 months)</h3>
                <div class="upload_a_document">
                    <label for="" class="custom_file_upload ">
                        <input placeholder="Upload files..." type="file" class="hidden">
                        Upload files...
                    </label> <img class="" src="../../../assets/images/upload_icon.svg" alt=""> <span class="">Drop Files here</span>
                </div>
            </div>
            <div class="uploaders">
                <h3>Bank Statement</h3>
                <div class="upload_a_document">
                    <label for="" class="custom_file_upload ">
                        <input placeholder="Upload files..." type="file" class="hidden">
                        Upload files...
                    </label> <img class="" src="../../../assets/images/upload_icon.svg" alt=""> <span class="">Drop Files here</span>
                </div>
            </div>
            <div class="uploaders">
                <h3>Bank Statement</h3>
                <div class="upload_a_document">
                    <label for="" class="custom_file_upload ">
                        <input placeholder="Upload files..." type="file" class="hidden">
                        Upload files...
                    </label> <img class="" src="../../../assets/images/upload_icon.svg" alt=""> <span class="">Drop Files here</span>
                </div>
            </div>

            <div class="uploaders">
                <h3>Mermat ( Memorandum and article of association)</h3>
                <div class="upload_a_document">
                    <label for="" class="custom_file_upload ">
                        <input placeholder="Upload files..." type="file" class="hidden">
                        Upload files...
                    </label> <img class="" src="../../../assets/images/upload_icon.svg" alt=""> <span class="">Drop Files here</span>
                </div>
            </div>

            
                <div class="buttons">
                    <button class="reusable_button">
                        Submit
                    </button>

                    <button>
                        I'll do later
                    </button>
                </div>
        </div>

    </div>

</div>