<div class="sideBar_contents">
    <div class="image_container">
        <img src="../../../assets/images/wallets_africa_1.svg" alt="">
    </div> 
    <div class="other_contents">
        <ul>
            <li class="active"> <span class=""><img src="../../../assets/images/Wallet Afri-01_small.svg" alt=""></span> Home</li>
            <li> <span><img src="../../../assets/images/Money.svg" alt=""></span> Payments</li>
            <li> <span><img src="../../../assets/images/Clipboard-list.svg" alt=""></span>Transactions</li>
            <li><span><img src="../../../assets/images/Credit-card.svg" alt=""></span> Cards</li>
            <li> <span class="flex-auto flex items-center"><span><img src="../../../assets/images/Box_3.svg" alt=""></span> More</span>  <span class="chevron_down"><img src="../../../assets/images/ic24-chevron-down.svg" alt=""></span></li>
        </ul>
    </div>
</div>