<div class="sideBar_contents">
    <div class="image_container ">
        <img src="../../../assets/images/wallets_africa_1.svg" alt="">
        <span (click)="toggleMobileMenuSideBar()" class="sideBar_close"></span>
    </div> 
    <div class="other_contents">
        <ul >
            <li data-tooltip="home"  [routerLink] = "['overview']" class="dashboard tooltip"  [routerLinkActive]="['active']" Sidebar> 
                <span class="flex flex-none" >
                    <img src="../../../assets/images/Wallet Afri-01_small.svg" alt=""></span> 
                    <a>Home</a>
                </li>
            <li data-tooltip="Wallets" [routerLink] = "['wallets']" class="wallets_routes tooltip"  [routerLinkActive]="['active']" Sidebar>
                <span class="flex flex-none"><img src="../../../assets/images/Wallet.svg" alt=""></span> 
                <a >Wallets</a>
            </li>
            <li data-tooltip="payments" (click)="openAndClose($event)" class="payments tooltip"> 
                <div class="flex w-full items-center justify-between">
                    <span class="flex flex-none"><img class="mr-3" src="../../../assets/images/Money.svg" alt=""> <a >Payments</a></span>  
                    <span class="chevron_down"><img src="../../../assets/images/ic24-chevron-down.svg" alt=""></span>
                </div>  
            </li>
            <ul class="sublist payments_sublist">
                <li [routerLink] = "['transfer-to-business']"  [routerLinkActive]="['active']" class="capitalize" Sidebar>
                   
                    <a > transfer to business </a>
                </li>
                <li [routerLink] = "['wallets']"  [routerLinkActive]="['active']" class="capitalize" Sidebar>Wallet (Single)</li>
                <li [routerLink]="['bank-account-single']" [routerLinkActive]="['active']" class="capitalize" Sidebar>bank account (single)</li>
                <li [routerLink]="['mobile-money']" [routerLinkActive]="['active']" class="capitalize" Sidebar>mobile money (single)</li>
                <li [routerLink] = "['wallets']"  [routerLinkActive]="['active']" class="capitalize" Sidebar>wallet (bulk)</li>
                <li class="capitalize" Sidebar>bank account (bulk)</li>
                <li class="capitalize" Sidebar>mobile money (bulk)</li>
            </ul>
            <li data-tooltip="transactions" (click)="openAndClose($event)" class="transactions tooltip">
                <div class="flex w-full items-center justify-between">
                    <span class="flex flex-none"><img class="mr-3" src="../../../assets/images/Clipboard-list.svg" alt=""> 
                        
                        <a >Transactions</a>
                    </span>  
                    <span class="chevron_down"><img src="../../../assets/images/ic24-chevron-down.svg" alt=""></span>
                </div> 
            </li>
            <ul class="sublist transactions_sublist">
                <li class="capitalize" Sidebar>history</li>
                <li class="capitalize" Sidebar>reoccuring</li>
            </ul>
            <li data-tooltip="Cards" [routerLink] = "['cards']" class="tooltip"  [routerLinkActive]="['active']" Sidebar>
                <span class="flex flex-none"><img src="../../../assets/images/Credit-card.svg" alt=""></span> 
                
                <a >Cards</a>
            </li>
            <li data-tooltip="Airtime" [routerLink] = "['buy_airtime']" class="tooltip" [routerLinkActive]="['active']" Sidebar>
                <span class="flex flex-none">
                    <img src="../../../assets/images/Credit-card.svg" alt=""></span> 
                    <a >Buy Airtime</a>
                </li>
            <li class="tooltip" data-tooltip="more"> 
                <span class="flex-auto flex items-center">
                    <span class="flex flex-none"><img src="../../../assets/images/Box_3.svg" alt=""></span> 
                    <a >More</a>
                </span>  
                <span class="chevron_down"><img src="../../../assets/images/ic24-chevron-down.svg" alt=""></span>
            </li>
        </ul>


        <div class="contact_us">
            <div>
                <img src="../../../assets/images/Question.svg" alt="">
            </div>
            <div class="flex flex-col gap-3">
                <span class="">Having Troubles?</span>
                <span class="font-semibold text-wa-purple-text-color capitalize">contact us</span>
            </div>
        </div>
    </div>   
</div>