<div class=" sign_in overflow-auto">
    <div class="header">
        <div class="wallet_icon flex-auto px-4">
            <img class="max-w-[65%] sm:max-w-[80%]" src="../../../assets/images/wallets_africa_1.svg" alt="">
        </div>

        <div class="other_stuff mx-4 opacity-0">
            <span class="hidden  md:inline-block">Have an account:</span> <button  class="reusable_button ">Signin</button>
        </div>
    </div>
    <div class="body !pt-2 welcome_body flex-col gap-3 md:gap-0 px-10">
        <div class="w-full md:w-3/5 h-auto self-center">
            <div class="title">
                <p class="welcome_title onboarding_welcome_title">Get Started with your Wallet Africa Business account 👋🏽</p>
                <span class="welcome_title_supportingText onbaording_home_supporting"> To complete your the setup, there are a couple of things to finish before you can start making transactions. Follow the guides below. </span>
            </div>
        </div>

        <div class="start_onboarding_container">
            <a  class="button">
                Start Onboarding
            </a>
        </div>

        <div class="onboarding_boxes">
            <div class="first_box limited_liability">
                <div class="heading">
                   <p>
                    <span>Limited Liability</span> 
                    <span class="flex justify-end"><img class="max-w-[80%]" src="../../../assets/images/rocket.svg" alt=""></span>
                   </p>
                   <small>Company documents you will need</small>
                </div>
                <div class="fake_inputs min-h-[10rem]">
                    <div class="a_fake_input ">
                        <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>Shareholder’s Documents</span>
                    </div>
                    <div class="a_fake_input">
                        <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>Certificate Of Incorporation </span>
                    </div>
                    <div class="a_fake_input">
                        <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>Director’s Documents (CAC7)</span>
                    </div>
                    <div class="a_fake_input">
                        <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>Memorandum & Article of Association</span>
                    </div>
                </div>

                <div class="fake_button">
                    <a >See Document Samples</a>
                </div>
            </div>
            <div class="second_box sole_proprietorship">
                <div class="heading">
                    <p>
                     <span>Sole Proprietorship</span> 
                     <span class="flex justify-end"><img class="max-w-[80%]" src="../../../assets/images/sunshine.svg" alt=""></span>
                    </p>
                    <small>Company documents you will need</small>
                 </div>
                 <div class="fake_inputs min-h-[10rem]">
                     <div class="a_fake_input ">
                         <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>BN Document for CAC</span>
                     </div>
                     
                 </div>
 
                 <div class="fake_button">
                     <a >See Document Samples</a>
                 </div>
            </div>
            <div class="third_box ngo">
                <div class="heading">
                    <p>
                     <span>NGO</span> 
                     <span class="flex justify-end"><img class="max-w-[80%]" src="../../../assets/images/star_shine.svg" alt=""></span>
                    </p>
                    <small>Company documents you will need</small>
                 </div>
                 <div class="fake_inputs min-h-[10rem]">
                     <div class="a_fake_input ">
                         <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>CAC IT Form 1</span>
                     </div>
                     <div class="a_fake_input">
                         <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>Certificate of incorporated Trustees</span>
                     </div>
                     <div class="a_fake_input">
                         <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>SCUML Certificate</span>
                     </div>
                    
                 </div>
 
                 <div class="fake_button">
                     <a >See Document Samples</a>
                 </div>
            </div>
            <div class="fourth_box partnership">
                <div class="heading">
                    <p>
                     <span>Partnership</span> 
                     <span class="flex justify-end"><img class="max-w-[80%]" src="../../../assets/images/rocket.svg" alt=""></span>
                    </p>
                    <small>Company documents you will need</small>
                 </div>
                 <div class="fake_inputs min-h-[10rem]">
                     <div class="a_fake_input ">
                         <input type="checkbox" class="rounded-[4px] border-2 border-[#DADADA]"> <span>BN Document for CAC</span>
                     </div>
                     
                 </div>
 
                 <div class="fake_button">
                     <a >See Document Samples</a>
                 </div>
            </div>
        </div>

        
    </div>

</div>