@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    // --wallet-boxShadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    // --box-border: 1px solid rgba(0, 0, 0, 0.05);
    --wa-icon-gradient: linear-gradient(169.24deg, rgba(77, 166, 174, 0.12) 0.53%, rgba(75, 126, 165, 0.09) 46.77%, rgba(73, 72, 153, 0.12) 90.1%);
    --wa-box-background: rgba(245, 245, 255, 0.2);
    --wa-box-shadow:  0px 4px 10px rgba(154, 171, 237, 0.06);
    --wa-commonlyused-font: 'IBM Plex Light';
}

@font-face {
    font-family: 'Inter ExtraLight';
    src: url('./assets/fonts/Inter/Inter-ExtraLight.ttf');
    font-style: 200;
}


@font-face {
    font-family: 'Inter Light';
    src: url('./assets/fonts/Inter/Inter-Light.ttf');
    font-style: 300;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('./assets/fonts/Inter/Inter-Medium.ttf');
    font-style: 300;
}


@font-face {
    font-family: 'IBM Plex Sans SemiBold';
    src: url('./assets/fonts/IBM_SANS/IBMPlexSans-SemiBold.ttf');
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url('./assets/fonts/IBM_SANS/IBMPlexSans-Regular.ttf');
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex Sans ExtraLight';
    src: url('./assets/fonts/IBM_SANS/IBMPlexSans-ExtraLight.ttf');
    font-style: normal;
}



@font-face {
    font-family: 'IBM Plex Light';
    src: url('./assets/fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Light Italic';
    src: url('./assets/fonts/IBMPlexSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Medium';
    src: url('./assets/fonts/IBMPlexSans-Medium.ttf');
    font-style: normal;
}


@font-face {
    font-family: 'IBM Plex SemiBold';
    src: url('./assets/fonts/IBMPlexSans-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex SemiBold Italic';
    src: url('./assets/fonts/IBMPlexSans-SemiBoldItalic.ttf');
    font-style: italic;
}



@font-face {
    font-family: 'IBM Plex ExtraLight';
    src: url('./assets/fonts/IBMPlexSans-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex ExtraLight Italic';
    src: url('./assets/fonts/IBMPlexSans-ExtraLightItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Bold';
    src: url('./assets/fonts/IBMPlexSans-Bold.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Bold Italic';
    src: url('./assets/fonts/IBMPlexSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

.cdk-overlay-backdrop{
    background: rgba(71, 64, 78, 0.6);
    backdrop-filter: blur(4px);
}


.reusable_button{
    font-size: 1.15rem;
    font-family: 'IBM Plex Medium';
    @apply px-6 bg-wa-generalGreen cursor-pointer py-2 ml-2 text-wa-active-text rounded-sm text-sm;

    &.outlined{
        @apply bg-white text-wa-purple-text-color border border-wa-purple-text-color rounded-[4px];
    }

    &.extra_padding{
        @apply px-12 py-[10px];
    }
}

.material_closeBtn{
    font-size: 2.75rem;
    line-height: 1;
    font-family: 'IBM Plex Sans Regular';
    transform: rotate(-45deg);
    width: auto;
    transition: all 250ms ease-in;
    @apply cursor-pointer text-wa-active-text;
}


.sign_in{
    @apply w-screen h-screen max-w-full max-h-full bg-wa-bg-loginAndSignup;

   & .header{
       @apply h-[12vh] py-7 w-full flex justify-between items-center px-9;

      & .other_stuff{
          & span{
              font-size: 1.1rem;
              font-family: 'IBM Plex Medium';
              @apply text-wa-active-text font-medium;
          }
  
         
        }
   }

    & .body{
        @apply h-[88vh] flex justify-center items-start pt-8 w-full;
          & .title{ 
              @apply  w-full flex flex-col justify-center items-center mb-5 leading-8;
              & p{
                  font-family: 'IBM Plex Light';
                  @apply font-semibold text-2xl text-wa-active-text py-2 mb-3;

                  &.signup{
                      font-family: 'IBM Plex Medium'; 
                      letter-spacing: .05em;
                  }

                  &.login_title{
                      font-family: 'IBM Plex Sans SemiBold';
                      @apply text-[1.3rem] 
                  }
              }

              & span{
                  font-family: 'IBM Plex Light';
                  @apply font-medium text-sm text-wa-active-text;

                  &.login_desc{
                      font-family: 'IBM Plex Sans Regular';
                      @apply text-[0.975rem];
                  }
              }


              & .welcome_title{
                font-family: 'IBM Plex Sans Regular';
                @apply font-medium mb-1;
               }
              & .welcome_title_supportingText{
                font-family: 'IBM Plex Sans Regular';
                font-size: .975rem;
                @apply font-normal;
            }
          }

         & .forms_content{
             display: grid;
             grid-template-rows: repeat(3, minmax(25px, 50px));
             @apply grid-cols-2 place-items-center gap-y-5 gap-x-4 py-3 px-2;

             &.signup{
                 @apply grid-cols-1 grid-rows-2;
             }

             &.OTP{
                @apply grid-cols-1 grid-rows-1 gap-y-1;
            }

             & .form-group .form-control{
                 font-family: 'IBM Plex Medium';
                 font-size: 0.95rem;
                 color: #7B7B9F;
                 @apply  placeholder:text-[#7B7B9F]  w-full bg-wa-input-bg h-10 rounded-[5px] border border-[#DFE4F4];
             }

             & .form-group:nth-child(2){
                 @apply self-start;
             }

             & .form-group.reset{
                 @apply self-center;
             }

             & input::placeholder{
                font-family: 'IBM Plex Sans ExtraLight';
                font-size: .775rem;
                letter-spacing: .05ch;
                @apply font-semibold
            }
         }

         & h4{
            font-size: 1em;
            font-family: 'IBM Plex Sans ExtraLight';  
            @apply font-semibold -mt-2 mb-2;
         }

         & .dateOfBirth_details{
             @apply flex justify-between gap-10 items-center px-2;

             & .form-group{
                @apply w-1/2;
             }
             & select{
                 border: 2px solid rgba(0, 0, 0, 0.15);
                 font-family: 'IBM Plex Sans ExtraLight';
                 font-size: 1.155em;
                 @apply w-full font-semibold rounded bg-[#ffff];
             }
         }

         & .submitBtn{
             & button.third{
                font-size: 1.15em;
                @apply px-9 py-3;
             }

             & p{
                 font-family: 'IBM Plex Sans Regular';
                 font-size: 0.775em;
                //  @apply font-semibold;
             }

             & p:nth-child(2){
                 @apply leading-10;
             }
             
         }
    }


    & .welcome_body{
        @apply justify-start;

        & .boxes{
            @apply h-[50vh] w-full flex justify-center items-center;
        }

        & .boxes_for_personalOrBusiness{
            @apply flex justify-center gap-12 px-4 py-2;

            & .box_for_personal_wallet, .box_for_business_wallet{
                font-family: 'IBM Plex Sans Regular';
                @apply w-1/2 h-[47vh] py-5 px-9 rounded-[7px] border border-white bg-white flex flex-col justify-center items-center;

                & .image_background{
                    @apply h-32 w-32 rounded-full mb-5 relative border border-[#f7f9fd] bg-[#F7F9FD];

                    & img{
                        @apply absolute w-32 h-32 max-w-[8.5rem];
                    }

                }

                & .bold_title{
                    font-size: 1.175rem;
                    @apply font-semibold mb-3;
                }

                & .description{
                    font-size: 0.975rem;
                    @apply w-4/5 break-words text-center font-normal;
                }
            }
        }
    }
}


.main_container, .personal_documents_upload{
    @apply w-10/12 h-full  px-6 bg-white;

    & .header{
        @apply h-auto mb-3 px-3;

        & .header_contents{
            font-family: var(--wa-commonlyused-font);
            @apply h-24 relative z-20 w-full border-b-2 border-b-[#ececff] flex items-end pb-4;

            & .notifications_and_dropDown{
                @apply flex-auto flex justify-end items-center mx-1 cursor-pointer;
            }

            & .salutation{
                font-family: 'IBM Plex Medium';
                font-size: 1.375rem;
                @apply px-1 flex-grow;
            }

            & .profile_pic{
                @apply  ml-8 mr-4
            }

            & .name_details{
                font-size: .975rem;
                transform-style: preserve-3d;
                transition: all 150ms ease;
                @apply flex justify-between items-center cursor-pointer font-semibold relative hover:py-1 hover:px-1 hover:rounded-sm;

                &:hover{
                    border: 1px solid rgba(83, 45, 148, 0.4);
                    box-shadow: rgba(83, 45, 148, 0.4) 0px 1px 4px;
                }

                & .actual_dropdown{
                    box-shadow: var(--wa-box-shadow);
                    transform-origin: top;  
                    transform: rotateX(.25turn);
                    opacity: 0;
                    transition: transform 300ms ease, opacity 350ms ease;
                    z-index: 100;
                   
                    @apply shadow-2xl w-[22rem] h-[32rem] rounded-lg  px-6 py-5 border border-wa-border-box-color bg-white absolute cursor-pointer right-0 top-8;

                    & .profile_info, .goPremium, .bankAndCards, .referAndEarn, .logout{
                        font-family: 'IBM Plex Light';
                        @apply flex gap-3 w-full h-1/4 border border-[#5248C8] bg-wa-purple-text-color rounded-lg px-4 py-3;

                        & img{
                            @apply pt-1;
                        }

                        & .name{
                            font-size: 1.205rem;
                            @apply text-white;
                        }

                        & .username{
                            font-size: 0.855rem;
                            @apply text-white mb-2;
                        }

                        & .view_profile_button{
                            @apply text-wa-generalGreen w-full flex items-center;

                            & svg{
                                @apply ml-3 -rotate-90;
                            }
                        }
                    }

                    & .goPremium, .bankAndCards, .referAndEarn, .logout{
                        @apply bg-white py-2 border-none h-[4.5rem] mt-2;
                        

                        & .name, .username{
                            @apply text-inherit;
                        }

                        & .name small{
                            font-size: .675rem;
                        }
                    }

                    &.show{
                        transform: rotateX(0deg);
                        opacity: 1;
                    }
                }

            }
        
        }
    }
}

.personal_documents_upload{
    @apply w-full h-auto bg-wa-bg-loginAndSignup;

    &__contents{
        font-family: 'IBM Plex Sans ExtraLight';
        @apply w-full text-center mt-4 px-10 pb-7;

        & .intro{
            & h2{
                font-family: 'IBM Plex Medium';
                font-size: 1.675em;
                @apply mb-3    
            }

            & span{
                font-size: 1.05em;
                @apply font-semibold text-wa-muted-text;
            }
        }

        & .important_details{
            @apply h-auto bg-white mt-6 px-14 py-8 mb-6 rounded-md;

            & h5{
                font-family: var(--wa-commonlyused-font);
                font-size: 1.15em;
                @apply font-semibold text-left;
            }

            & .form_fields{
                @apply w-full text-left mt-8;

                & .form-group{
                    font-family: var(--wa-commonlyused-font);
                    @apply w-full;

                    & .form-control{
                        font-size: 1em;
                        @apply w-full border-2 bg-wa-input-bg border-[#dfe4f4] text-wa-muted-text rounded-[4px];
                        
                    }

                    & select.form-control{
                        @apply bg-white;
                    }
                    
                }

                & .form-group:nth-child(1){
                    @apply mb-8;   
               }
            }

            & .uploaders{
                --local-Upload-black: rgba(27, 43, 65, 0.72);
                @apply text-left mt-8;

                & h3{
                    font-family: 'Inter Light';
                    letter-spacing: 0.01em;
                    color: var(--local-Upload-black);
                    @apply font-semibold;
                }

                & .upload_a_document{
                    border-color: rgba(28, 55, 90, 0.16);
                    @apply flex justify-start gap-2 mt-1 py-5 px-4 border border-dashed rounded-[4px];

                    & .custom_file_upload{
                        @apply px-4 py-2 font-semibold text-[#1676f3] bg-wa-input-bg cursor-pointer;
                    }

                    & span{
                        font-family: 'Inter ExtraLight';
                        color: var(--local-Upload-black);
                        @apply  self-center font-semibold;
                    }
                }
            }

            
            & .buttons{
                @apply flex gap-5 mt-10 mb-8;

                & .reusable_button{
                    font-family: 'IBM Plex Sans Regular';
                    font-size: 1.05em;
                    @apply py-4 px-9 font-semibold;
                }

                & button:not(.reusable_button){
                    font-family: 'IBM Plex Medium';
                    @apply transition-all cursor-pointer rounded-[4px] hover:border hover:border-wa-active-text hover:py-3 hover:px-6 hover:opacity-80;
                }
            }
        }

    }
}


// general styles here

.routed_components{
    // hide scroll width but allow scrolling
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    @apply w-full h-screen overflow-auto px-3;
    
    & .verification_incomplete{
        font-family: var(--wa-commonlyused-font);
        background-color: rgba(245, 245, 255, 0.4);
        @apply h-40 w-full mt-5 border-t-2 rounded-sm border-wa-border-top-color flex gap-x-5;

        & .text_half{
            // font-family: var(--wa-commonlyused-font);
            @apply flex flex-grow justify-start  px-4 pt-4 gap-3;

            & p{
                @apply flex w-20 w-auto justify-start
            }

            & .thank_you{
                font-size: 1.075rem;
                font-family: 'IBM Plex Medium';
                @apply font-normal mb-2;
            }

            & p:nth-child(2){
                font-size: .875rem;
                @apply font-normal mb-4;
            }

            & p:nth-child(3){
                font-size: 1.075rem;
                font-family: 'IBM Plex ExtraLight';
                @apply font-semibold;

                & a{
                    font-family: 'IBM Plex Medium';
                    @apply font-normal px-1;
                }
            }
        }

        & .black_box{
            @apply mx-10 pt-5;

            &__contents{
                @apply bg-black pr-7 pl-5 py-4 text-white rounded-lg;
                & p:nth-child(1){
                    @apply flex mb-3;

                    & img{
                        @apply pr-4;
                    }
                }   

                & p:nth-child(2){
                    font-size: 1.005rem;
                    @apply pl-10 underline text-wa-generalGreen;
                }

            }
        }


    }

    & .wallet_Balance{
        font-family: var(--wa-commonlyused-font);
        @apply mt-6;

        &__contents{
            @apply flex gap-8 w-full;

            & div{
                @apply w-1/2 h-40;
            }

            & div:nth-child(1){
                @apply flex;
            }

            & .wallet_balance_figures, .fund_wallet_container{
                @apply h-full py-2;
            }

            & .wallet_balance_figures{
                @apply flex flex-col px-1;

                & p:nth-child(1){
                    font-family: 'IBM Plex ExtraLight';
                    @apply flex gap-3 font-semibold;
                }

                & p:nth-child(2){
                    font-family: 'IBM Plex Medium';
                    line-height: .7;
                    font-size: 2.175rem;
                    @apply  font-extrabold text-wa-purple-text-color;
                }
            }

            & .fund_wallet_container{
                @apply py-5 px-2 flex justify-center items-start;

                &__button{
                    @apply px-8 py-2 bg-wa-generalGreen text-wa-purple-text-color border border-wa-generalGreen rounded-[4px] font-bold;
                }
            }

            & .mini_transactions__display{
                & .second_box__container {
                    @apply w-full  py-3 px-3 border-2 border-wa-border-box-color rounded-[7px] flex flex-col;
                }

                & .form-group{
                    @apply mb-1 w-full flex justify-end h-auto;

                    & select{
                        line-height: 1rem;
                        background-color: rgba(245, 245, 255, 0.4);
                        border: 1px solid rgba(245, 245, 255, 0.4);
                        @apply rounded-[3px] h-[2.2rem];
                    }
                }

                & .second_box__container div:nth-child(2){
                    @apply w-full flex h-full justify-around items-center;
                }
                & .second_box__container p{
                    font-size: .95rem;
                    font-family: 'IBM Plex ExtraLight';
                    @apply relative font-semibold capitalize after:absolute after:w-[1px] after:bg-[#F2F2F2] after:h-full after:rotate-180 after:-top-2 after:-right-16;
                    
                    & span:nth-child(2){
                        font-family: 'IBM Plex Medium';
                    }
                    &.noPseudoClass{
                        @apply after:hidden;
                    }
                  }
            }
        }
    }

    & .actions_section, .cards_section{
        font-family: var(--wa-commonlyused-font);
        @apply mt-8 mb-12 w-full;

        &__title{
            font-family: 'IBM Plex Medium';
            font-size: 1.175rem;
            @apply mb-5 text-wa-active-text px-1;
        }

        &__gridparent{
            @apply grid grid-cols-4 grid-rows-1 gap-5;

            & .grid_child{
                background-color: rgba(245, 245, 255, 0.4);
                @apply h-40 w-full border-2 cursor-pointer border-wa-border-box-color rounded-[7px] flex flex-col justify-center items-center;

                & p{
                    @apply font-semibold mt-5 text-wa-purple-text-color;
                }

                &.label{
                    @apply relative;
                    & span:nth-child(3) {
                        @apply absolute bg-wa-generalGreen text-white px-5 text-sm -right-[2px] rounded rounded-tr-none rounded-br-none top-2;
                    }
                }
                
            }
         }
    }


    & .recent_transactions{
        @apply h-auto mb-10;

        &__contents{
          @apply  w-full min-h-[20rem] max-h-[23rem] border border-wa-border-box-color rounded-t-[7px];
        }

        &__absent{
            font-family: var(--wa-commonlyused-font);
            @apply w-full h-full relative;

            & .title{
                font-family: 'IBM Plex Medium';
                font-size: 1.295rem;
                @apply border-b-wa-border-box-color mb-5  border-b-2 px-4 py-5 font-normal;
            }

            & .chat_float{
                @apply absolute top-20 -right-10;
            }
        }
    }

     //  cards section

   & .cards_section{
        &__gridparent{
            @apply grid grid-cols-[repeat(4,_minmax(50px,_150px))] grid-rows-[repeat(2,_minmax(50px,_100px))] gap-5;

            & .grid_child{
                @apply h-48 col-span-2 cursor-pointer row-span-2;

                & p{
                    @apply my-1;
                }

                &:last-child{
                    background-color: transparent;
                    @apply border-0 border-none py-2;

                    & .created_card{
                        background: linear-gradient(180deg, #5D2C90 0%, #9F4073 100%);
                        @apply h-full w-full rounded-[7px] relative;

                        &__contents{
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            right: 0;
                            bottom: 0;
                            background-color: transparent;
                            font-family: 'IBM Plex Sans Regular';
                            @apply flex;

                            & .numbers_container{
                                @apply  flex justify-between w-full;

                                & .numbers{
                                    text-shadow: 0px 1px 1px #000000;
                                    @apply font-medium text-2xl text-white;
                                }
                            }

                            & .card_holder{
                                @apply w-full pt-5 flex justify-between pl-1;

                                &__name > * , &__expiration > *{
                                    font-family: 'IBM Plex Sans Regular';
                                   
                                    @apply block;
                                }

                                &__name span:nth-child(1), &__expiration span:nth-child(1){
                                    font-size: .625rem;
                                    letter-spacing: .15em;
                                    @apply uppercase text-white opacity-80;
                                }

                                &__name span:nth-child(2), &__expiration span:nth-child(2){
                                    font-size: 1.175rem;
                                    @apply capitalize text-white font-medium;
                                }
                            }
                        }
                    }

                    & .created_card::after{
                        content: '';
                        position: absolute;
                        top: 50px;
                        left: -10px;
                        right: 0;
                        bottom: 0;
                        background: url(./assets/images/Vector.svg) no-repeat;
                    }

                    & .created_card.naira{
                        background:  linear-gradient(128.39deg, rgba(0, 0, 0, 0.6) -23.7%, #000000 16.11%);

                        &::after{
                            top: 10px;
                            left: -13px;
                            background: url(./assets/images/another_w_vector.svg) no-repeat;   
                        }
                    }
                }
            }
        }
    
    }
}

// sidebar styles here
.sideBar_container{
    @apply  w-2/12 h-full ;
}


.sideBar_contents{
    background-color: rgba(245, 245, 255, 0.4);
    @apply w-full h-full px-6;

    & .image_container{
        @apply  h-1/6 w-full flex justify-center items-center;

        & img{
            width: 70%;
            max-width: 80%;
            
        }
    }

    & .other_contents{
        @apply transition-all h-4/6 w-full pt-5;

        & ul{
            background-color: var(--wa-box-background);
            @apply px-1 w-full h-full;
        }

        & li{
            font-family: var(--wa-commonlyused-font);
            @apply cursor-pointer px-2 py-2 font-semibold w-full flex items-center my-3 transition-all hover:bg-white hover:rounded-lg hover:border-2 hover:border-white hover:text-wa-generalGreen;

            & span{
                @apply mr-3;
            }

            &.active{
                box-shadow: var(--wa-box-shadow);
                @apply bg-white rounded-lg border-2 border-white text-wa-generalGreen;
            
            }

           & .chevron_down img{
                width: 95%;
           }
        }

        & .payments, .transactions{
            @apply transition-all flex flex-col cursor-pointer h-10 overflow-hidden;
            
            & ul{
                font-family: var(--wa-commonlyused-font);
                @apply pl-8;
                & li{
                    font-size: .775rem;
                }
            }

          &.open{
            @apply h-auto;
          }
        }

        &.elongate{
            @apply h-auto;
        }

        & .sublist li{
           @apply transition-all hover:rounded-sm hover:translate-x-2 hover:text-wa-purple-text-color
        }
    }

    & .contact_us{
        font-family: var(--wa-commonlyused-font);
        @apply w-full h-auto bg-white border border-wa-border-box-color rounded-[7px] py-4 flex justify-start px-3 gap-3;
    }
}
// ends here


//wallets styles
.wallets, .transfer_to_business{
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

    @apply overflow-y-auto;
    font-family: var(--wa-commonlyused-font);
    & .tab_container{
         @apply h-[80vh] w-full;
        & #tabs{
            @apply mb-9 border-b border-b-[#ECECFF];
        }
        & #tabs li a:not(.selected){
            font-family: var(--wa-commonlyused-font);
            @apply text-lg text-wa-muted-text opacity-50;
        }
        & #tabs li a.selected{
         font-family: var(--wa-commonlyused-font);
         @apply text-lg text-wa-purple-text-color;
     }

     & #tab-contents{
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        box-shadow: var(--wa-box-shadow);
        // @apply;
        & .layer{
         font-family: var(--wa-commonlyused-font);
         @apply w-[40%] flex justify-between mb-8;

         & h5{
             @apply font-semibold;
         }

         & p{
             @apply font-normal text-[1rem];
         }  

         & button{ 
             @apply transition-all capitalize border border-wa-purple-text-color py-2 rounded-sm hover:bg-wa-purple-text-color hover:text-white;
         }
        }
     }
    }

    & input{
        // background-color: var(--wa-box-background);
        @apply border border-wa-border-box-color bg-[#F2F4FB]
    }
}

// transfer to business styles
    .transfer_to_business{
        font-family: 'IBM Plex Sans Regular';

        & .transfer_form_container{
            box-shadow: 0px 4px 10px rgba(154, 171, 237, 0.06);
        }

        & input::placeholder{
            @apply text-wa-placeholder-color;
        }
    }
    
// ends here

// authorization component styles here
  .authoriz_a_transaction{
      font-family: 'IBM Plex Sans Regular';
      & .title{
          font-size: 1.375rem;
      }
  }

// ends here

// welcome styles



// Material Style Overides here
.authorize_transaction .mat-dialog-container{
    @apply py-1;
}

// ends here


// transfer Successful

.img_container{
    font-family: 'IBM Plex Sans Regular';
    height: 30%;
    @apply w-full flex flex-col justify-center items-center;
    & img{
        max-width: 100%;
    }

    & span{
        font-size: 1.175rem;
        @apply text-wa-generalGreen font-medium;
    }   
}

.remaining_contents{
    font-family: 'IBM Plex Sans Regular';
    @apply w-full;    
    & .essential_info{
        @apply w-5/6 grid grid-cols-2 grid-rows-2 gap-y-0 mx-auto px-2 my-5;

        & .essential_info_child{
            @apply flex flex-col justify-center;

            & span:first-child {
                font-size: .775rem;
                @apply font-medium text-wa-muted-text mb-2; 
            }

            & span:last-child {
                font-size: 1rem;
                @apply font-semibold text-wa-active-text; 
            }
        }

        & .essential_info_child:nth-child(3), .essential_info_child:last-child{
            @apply my-2;
        }

        & .essential_info_child:nth-child(2), .essential_info_child:last-child{
            @apply my-4 items-end;
        }

    }

    & .button_container{
        @apply w-full flex justify-center gap-5 items-center my-7;
    }
}


// ends here

// create a card styles

.create_card{
    font-family: 'IBM Plex Sans Regular';
    @apply w-full h-full max-h-max;

    & h5{
        font-size: 0.925rem;
        @apply mb-2 text-wa-active-text font-semibold items-center w-full flex justify-between opacity-100;

        & span{
            @apply transition-all self-start flex justify-center items-center cursor-pointer hover:p-1;

            & img{
                @apply max-w-[80%];
            }

            &:hover img{
                @apply max-w-[100%];
            }
        }
    }

    & label{
        font-size: .725rem;
        @apply block mb-2 opacity-80 font-medium text-wa-active-text;
    }

    & input, select{
        border: 1px solid rgba(0, 0, 0, 0.15);
        @apply  text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
    }

    & button{
        @apply focus:ring-4;
    }

    & p{
        font-size: .805rem;
        @apply opacity-100;
    }
}

// ends here




